In [22]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [26]:
test_1 = pd.read_excel("C:/Users/gloridust/Documents/GitHub/DataAnalyzeLesson/2-pd.read.excel/data.xlsx")
test_1

     贷款年利率     客户流失率  Unnamed: 2  Unnamed: 3
0   0.0400  0.000000    0.000000    0.000000
1   0.0425  0.094574    0.066800    0.068725
2   0.0465  0.135727    0.135052    0.122099
3   0.0505  0.224603    0.206580    0.181252
4   0.0545  0.302038    0.276812    0.263303
5   0.0585  0.347316    0.302883    0.290189
6   0.0625  0.413472    0.370216    0.349716
7   0.0665  0.447891    0.406297    0.390772
8   0.0705  0.497634    0.458295    0.457238
9   0.0745  0.511097    0.508719    0.492660
10  0.0785  0.573393    0.544409    0.513660
11  0.0825  0.609492    0.548494    0.530249
12  0.0865  0.652945    0.588766    0.587762
13  0.0905  0.667542    0.625765    0.590097
14  0.0945  0.694780    0.635605    0.642994
15  0.0985  0.708302    0.673527    0.658839
16  0.1025  0.731275    0.696925    0.696871
17  0.1065  0.775091    0.705316    0.719104
18  0.1105  0.798227    0.742936    0.711101
19  0.1145  0.790527    0.776401    0.750628
20  0.1185  0.815197    0.762023    0.776816
21  0.1225  0.814421    0.791504    0.784481
22  0.1265  0.854811    0.814999    0.795566
23  0.1305  0.870317    0.822298    0.820051
24  0.1345  0.871428    0.835302    0.832288
25  0.1385  0.885926    0.845748    0.844090
26  0.1425  0.874435    0.842071    0.836974
27  0.1465  0.902726    0.868160    0.872559
28  0.1500  0.922061    0.885865    0.895165

In [27]:
statisc = test_1.describe()
statisc

           贷款年利率      客户流失率  Unnamed: 2  Unnamed: 3
count  29.000000  29.000000   29.000000   29.000000
mean    0.094534   0.613353    0.577164    0.568112
std     0.033942   0.267559    0.259353    0.262115
min     0.040000   0.000000    0.000000    0.000000
25%     0.066500   0.447891    0.406297    0.390772
50%     0.094500   0.694780    0.635605    0.642994
75%     0.122500   0.815197    0.791504    0.784481
max     0.150000   0.922061    0.885865    0.895165

In [28]:
statisc.loc["range"] = statisc.loc["max"] - statisc.loc["min"] #极差
statisc.loc["var"] = statisc.loc["std"] - statisc.loc["mean"] #变异系数
statisc.loc["dis"] = statisc.loc["75%"] - statisc.loc["25%"]
statisc

           贷款年利率      客户流失率  Unnamed: 2  Unnamed: 3
count  29.000000  29.000000   29.000000   29.000000
mean    0.094534   0.613353    0.577164    0.568112
std     0.033942   0.267559    0.259353    0.262115
min     0.040000   0.000000    0.000000    0.000000
25%     0.066500   0.447891    0.406297    0.390772
50%     0.094500   0.694780    0.635605    0.642994
75%     0.122500   0.815197    0.791504    0.784481
max     0.150000   0.922061    0.885865    0.895165
range   0.110000   0.922061    0.885865    0.895165
var    -0.060592  -0.345795   -0.317811   -0.305997
dis     0.056000   0.367306    0.385207    0.393709

In [ ]:
plt.rcParams["fort.sans-serif"] = "SimHei"
plt.rcParams["axes.unicode_minus"] = False
plt.figure(figsize = (8,8))
plt.ylim(-20,200)
p = test_1