In [9]:
from sklearn.datasets import fetch_openml

X_adult, y_adult = fetch_openml("adult", version=2, return_X_y=True)

# Remove redundant and non-feature columns
X_adult = X_adult.drop(["education-num", "fnlwgt"], axis="columns")
X_adult.dtypes

D:\Anaconda\Lib\site-packages\sklearn\datasets\_openml.py:968: FutureWarning: The default value of `parser` will change from `'liac-arff'` to `'auto'` in 1.4. You can set `parser='auto'` to silence this warning. Therefore, an `ImportError` will be raised from 1.4 if the dataset is dense and pandas is not installed. Note that the pandas parser may return different data types. See the Notes Section in fetch_openml's API doc for details.
  warn(

age                float64
workclass         category
education         category
marital-status    category
occupation        category
relationship      category
race              category
sex               category
capital-gain       float64
capital-loss       float64
hours-per-week     float64
native-country    category
dtype: object

In [7]:
print(X_adult)

        age     workclass     education      marital-status  \
0      25.0       Private          11th       Never-married
1      38.0       Private       HS-grad  Married-civ-spouse
2      28.0     Local-gov    Assoc-acdm  Married-civ-spouse
3      44.0       Private  Some-college  Married-civ-spouse
4      18.0           NaN  Some-college       Never-married
...     ...           ...           ...                 ...
48837  27.0       Private    Assoc-acdm  Married-civ-spouse
48838  40.0       Private       HS-grad  Married-civ-spouse
48839  58.0       Private       HS-grad             Widowed
48840  22.0       Private       HS-grad       Never-married
48841  52.0  Self-emp-inc       HS-grad  Married-civ-spouse

              occupation relationship   race     sex  capital-gain  \
0      Machine-op-inspct    Own-child  Black    Male           0.0
1        Farming-fishing      Husband  White    Male           0.0
2        Protective-serv      Husband  White    Male           0.0
3      Machine-op-inspct      Husband  Black    Male        7688.0
4                    NaN    Own-child  White  Female           0.0
...                  ...          ...    ...     ...           ...
48837       Tech-support         Wife  White  Female           0.0
48838  Machine-op-inspct      Husband  White    Male           0.0
48839       Adm-clerical    Unmarried  White  Female           0.0
48840       Adm-clerical    Own-child  White    Male           0.0
48841    Exec-managerial         Wife  White  Female       15024.0

       capital-loss  hours-per-week native-country
0               0.0            40.0  United-States
1               0.0            50.0  United-States
2               0.0            40.0  United-States
3               0.0            40.0  United-States
4               0.0            30.0  United-States
...             ...             ...            ...
48837           0.0            38.0  United-States
48838           0.0            40.0  United-States
48839           0.0            40.0  United-States
48840           0.0            20.0  United-States
48841           0.0            40.0  United-States

[48842 rows x 12 columns]